{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}


<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card height-equal">
        <div class="card-header pb-0">
            <h3>Add Customer Data</h3>
        </div>
        <div class="card-body custom-input">
            <!-- Display messages -->
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Customer Form -->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Customer Data</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">User:</label>
                                <input type="text" id="username" value="{{ current_user }}" class="form-control"
                                       readonly>
                            </div>
                        </div>
                        {% for field in customer_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>

                <!-- Customer Inbound Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Inbound</legend>
                        {% for field in customer_inbound_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer Outbound Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Transportation Outbound</legend>
                        {% for field in customer_transportation_outbound_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer Returns Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Returns</legend>
                        {% for field in customer_returns_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer Expiry Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Expiry</legend>
                        {% for field in customer_expiry_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer Damage Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Damage</legend>
                        {% for field in customer_damage_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer WH Outbound Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer WH Outbound</legend>
                        {% for field in customer_wh_outbound_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer Inventory Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Inventory</legend>
                        {% for field in customer_inventory_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <!-- Customer Pallet Location Availability Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer Pallet Location Availability</legend>
                        {% for field in customer_pallet_location_availability_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>


                <!-- Customer HSE Form -->
                <div class="row">
                    <fieldset class="scheduler-border mt-4 col">
                        <legend class="scheduler-border">Customer HSE</legend>
                        {% for field in customer_hse_form %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            {% endif %}
                            <div class="col-md-6">
                                {{ field|as_crispy_field }}
                            </div>
                            {% if forloop.counter|divisibleby:2 or forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'accounts:customer_dashboard' %}" class="btn btn-secondary ml-2">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>
