{% load static %}
{% load sass_tags %}


<div class="col-xl-6">
    <div class="card height-equal">
        <div class="card-header pb-0">
            <h3>Add Data</h3>
        </div>
        <div class="card-body custom-input">
            <!-- Display messages -->
            {% if messages %}
            <div class="alert alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form class="row g-3" method="post">
                {% csrf_token %}
                <div class="col-12">
                    <label class="form-label" for="data_type">Data Type</label>
                    <select class="form-select" id="data_type" name="data_type" required onchange="toggleForm()">
                        <option selected disabled value="">Choose...</option>
                        <option value="admin">Admin</option>
                        <option value="customer">Customer</option>
                    </select>
                </div>
                <div id="admin-form" class="col-12" style="display:none;">
                    {{ admin_data_form.as_p }}
                </div>
                <div id="customer-form" class="col-12" style="display:none;">
                    {{ customer_form.as_p }}
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function toggleForm() {
        var dataType = document.getElementById('data_type').value;
        var adminForm = document.getElementById('admin-form');
        var customerForm = document.getElementById('customer-form');
        if (dataType === 'admin') {
            adminForm.style.display = 'block';
            customerForm.style.display = 'none';
        } else if (dataType === 'customer') {
            adminForm.style.display = 'none';
            customerForm.style.display = 'block';
        } else {
            adminForm.style.display = 'none';
            customerForm.style.display = 'none';
        }
    }

    // Show alert if messages are present
    document.addEventListener('DOMContentLoaded', function() {
        var messages = {% if messages %}[{% for message in messages %}'{{ message }}'{% if not forloop.last %}, {% endif %}{% endfor %}]{% else %}[]{% endif %};
        if (messages.length > 0) {
            alert(messages.join('\n'));
        }
    });
</script>
