{% load static %}
{% load sass_tags %}

<div class="card-body file-manager">
    <h5 class="mb-2">Quick Access </h5>
    <ul class="quick-file d-flex flex-row">
      <li>
        <div class="quick-box"><i class="fa fa-youtube-play font-danger"></i></div>
        <h6>Videos</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-th font-info"></i></div>
        <h6>Apps</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-file-text-o font-secondary"></i></div>
        <h6>Document</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-music font-warning"></i></div>
        <h6>Music</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-download font-primary"></i></div>
        <h6>Download</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-folder font-info"></i></div>
        <h6>Folder</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-file-archive-o font-secondary"></i></div>
        <h6>Zip File</h6>
      </li>
      <li>
        <div class="quick-box"><i class="fa fa-trash font-danger"></i></div>
        <h6>Trash</h6>
      </li>
    </ul>
    <h5 class="mt-4 mb-2">Folders</h5>
    <ul class="folder">
      <li class="folder-box">
        <div class="d-block"><i class="f-44 fa fa-file-archive-o txt-warning"></i><i class="fa fa-ellipsis-v me-0 f-14 ellips"></i>
          <div class="mt-3">  
            <h6>Tivo admin</h6>
            <p>20 file<span class="pull-right"> <i class="fa fa-clock-o"> </i> 2 Hour ago</span></p>
          </div>
        </div>
      </li>
      <li class="folder-box">
        <div class="d-block"><i class="f-44 fa fa-folder txt-warning"></i><i class="fa fa-ellipsis-v me-0 f-14 ellips"></i>
          <div class="mt-3">  
            <h6>Viho admin</h6>
            <p>14 file<span class="pull-right"> <i class="fa fa-clock-o"> </i> 3 Hour ago</span></p>
          </div>
        </div>
      </li>
      <li class="folder-box">
        <div class="d-block"><i class="f-44 fa fa-file-archive-o txt-warning"></i><i class="fa fa-ellipsis-v me-0 f-14 ellips"></i>
          <div class="mt-3">  
            <h6>Unice admin</h6>
            <p>15 file<span class="pull-right"> <i class="fa fa-clock-o"> </i> 3 Day ago</span></p>
          </div>
        </div>
      </li>
      <li class="folder-box">
        <div class="d-block"><i class="f-44 fa fa-folder txt-warning"></i><i class="fa fa-ellipsis-v me-0 f-14 ellips"></i>
          <div class="mt-3">  
            <h6>Koho admin</h6>
            <p>10 file<span class="pull-right"> <i class="fa fa-clock-o"> </i> 1 Day ago</span></p>
          </div>
        </div>
      </li>
    </ul>
    <h5 class="mt-4 mb-2">Files </h5>
    <ul class="d-flex flex-row files-content">
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-folder font-info"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Logo.psd</h6>
            <p>7 Hour ago, 2.0 MB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-file-excel-o font-success"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Backend.xls</h6>
            <p>2 Day ago, 3.0 GB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-file-archive-o font-warning"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Project.zip</h6>
            <p>1 Day ago, 1.9 GB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-folder font-primary"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Report.txt</h6>
            <p>1 Day ago, 0.9 KB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-file-archive-o font-warning"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Project.zip</h6>
            <p>1 Day ago, 1.9 GB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-folder font-primary"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Report.txt</h6>
            <p>1 Day ago, 0.9 KB   </p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-file-excel-o font-success"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Backend.xls</h6>
            <p>2 Day ago, 3.0 GB   </p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-folder font-primary"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Report.txt</h6>
            <p>1 Day ago, 0.9 KB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-file-archive-o font-warning"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Project.zip</h6>
            <p>1 Day ago, 1.9 GB</p>
          </div>
        </div>
      </li>
      <li class="folder-box d-flex align-items-center">
        <div class="d-flex align-items-center files-list">
          <div class="flex-shrink-0 file-left"><i class="f-22 fa fa-folder font-primary"></i></div>
          <div class="flex-grow-1 ms-3">
            <h6>Report.txt</h6>
            <p>1 Day ago, 0.9 KB</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- Container-fluid Ends-->

<div class="icon-hover-bottom p-fixed fa-fa-icon-show-div opecity-0">
<div class="container-fluid">
<div class="row">
<div class="icon-popup">
<div class="close-icon"><i class="icofont icofont-close"></i></div>
<div class="icon-first"><i id="icon_main"></i></div>
<div class="icon-class">
<label class="icon-title">data-feather</label><span id="fclass1"></span>
</div>
<div class="icon-last icon-last">
<label class="icon-title">Markup</label>
<div class="form-inline">
<div class="form-group">
  <input class="inp-val form-control m-r-10" id="input_copy" type="text" value="" readonly="readonly">
  <button class="btn btn-primary notification" onclick="myFunction()">Copy text</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>