<fieldset id="admin_data">
    <legend>Data Admin</legend>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{ admin_data_form.user|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_data_form.total_quantities|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_data_form.total_no_of_employees|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_data_form.hc_business|as_crispy_field }}
        </div>
        <legend>Inbound</legend>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.number_of_vehicles_daily|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.number_of_pallets|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.bulk|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.mix|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.cold|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.frozen|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.ambient|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inbound_form.pending_shipments|as_crispy_field }}
        </div>
        <div class="form-group col-md-12">
            {{ admin_inbound_form.no_of_shipments|as_crispy_field }}
        </div>
        <legend>Outbound</legend>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.tender|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.private|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.lines|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.total_quantities|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.bulk|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_outbound_form.loose|as_crispy_field }}
        </div>
        <div class="form-group col-md-12">
            {{ admin_outbound_form.pending_orders|as_crispy_field }}
        </div>
        <legend>Return</legend>
        <div class="form-group col-md-6">
            {{ admin_returns_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_returns_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_returns_form.no_of_return|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_returns_form.no_of_lines|as_crispy_field }}
        </div>
        <div class="form-group col-md-12">
            {{ admin_returns_form.total_quantities|as_crispy_field }}
        </div>
        <legend>Capacity</legend>
        <div class="form-group col-md-6">
            {{ admin_capacity_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_capacity_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-12">
            {{ admin_capacity_form.total_available_locations_and_accupied|as_crispy_field }}
        </div>
        <legend>Inventory</legend>
        <div class="form-group col-md-6">
            {{ admin_inventory_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ admin_inventory_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-12">
            {{ admin_inventory_form.last_movement|as_crispy_field }}
        </div>
    </div>
</fieldset>


<fieldset id="customer_data" style="display: none;">
    <legend>Data Customer</legend>
    <div class="form-row">
        <legend>General Information</legend>
        <div class="form-group col-md-6">
            {{ customer_form.name_company|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ customer_form.user|as_crispy_field }}
        </div>

        <legend>Inbound</legend>
        <div class="form-group col-md-6">
            {{ inbound_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.total_shipments_in_asn|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.arrived|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.no_show|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.received_completely|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.rejected_completely|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.received_partially|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.under_tamer_inspection|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.waiting_for_mod_inspection|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.waiting_for_NUPCO_action|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.total_dash_of_GR_reports_shared|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.dash_of_GR_reports_with_discripancy|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.total_SKUS_received|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.dash_of_skus_damaged_during_receiving|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inbound_form.total_received_with_putaway|as_crispy_field }}
        </div>

        <legend>Outbound</legend>
        <div class="form-group col-md-6">
            {{ outbound_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.order_received_from_npco|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.pending_orders|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_order_not_yet_picked|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_orders_picked_but_not_yet_ready_for_disptch_in_progress|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_orders_waiting_for_mod_qc|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_orders_that_are_ready_for_dispatch|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_orders_that_are_delivered_today|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.justification_for_the_delay_order_by_order|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.total_skus_picked|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.total_dash_of_SKU_discripancy_in_Order|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_PODs_collected_on_time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ outbound_form.number_of_PODs_collected_Late|as_crispy_field }}
        </div>

        <legend>Returns</legend>
        <div class="form-group col-md-6">
            {{ returns_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ returns_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ returns_form.total_orders_items_returned|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ returns_form.number_of_return_items_orders_updated_on_time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ returns_form.number_of_return_items_orders_updated_late|as_crispy_field }}
        </div>

        <legend>Expiry</legend>
        <div class="form-group col-md-6">
            {{ expiry_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ expiry_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ expiry_form.total_SKUs_expired|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ expiry_form.total_expired_SKUS_disposed|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ expiry_form.nearly_expired_1_to_3_months|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ expiry_form.nearly_expired_3_to_6_months|as_crispy_field }}
        </div>

        <legend>Damage</legend>
        <div class="form-group col-md-6">
            {{ damage_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ damage_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ damage_form.Total_QTYs_Damaged_by_WH|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ damage_form.Number_of_Damaged_during_receiving|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ damage_form.Total_Damaged_QTYs_Disposed|as_crispy_field }}
        </div>

        <legend>Travel Distance</legend>
        <div class="form-group col-md-6">
            {{ travel_distance_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ travel_distance_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ travel_distance_form.Total_no_of_Customers_deliverd|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ travel_distance_form.Total_no_of_Pallet_deliverd|as_crispy_field }}
        </div>

        <legend>Inventory</legend>
        <div class="form-group col-md-6">
            {{ inventory_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inventory_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inventory_form.Total_Locations_Audited|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inventory_form.Total_Locations_with_Incorrect_SKU_and_Qty|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ inventory_form.Total_SKUs_Reconciliation|as_crispy_field }}
        </div>

        <legend>Pallet Location Availability</legend>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.Total_Storage_Pallet|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.Total_Storage_Bin|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.Total_Storage_pallet_empty|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.Total_Storage_Bin_empty|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.Total_occupied_pallet_location|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ pallet_location_availability_form.Total_occupied_Bin_location|as_crispy_field }}
        </div>

        <legend>HSE</legend>
        <div class="form-group col-md-6">
            {{ hse_form.time|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ hse_form.assigned_day|as_crispy_field }}
        </div>
        <div class="form-group col-md-6">
            {{ hse_form.Total_Incidents_on_the_side|as_crispy_field }}
        </div>

    </div>
</fieldset>


<div id="outbounds-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Order Date</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Receipt Date</th>
            <th scope="col">Number of Order Lines</th>
            <th scope="col">Total Quantities</th>
            <th scope="col">Total Variance Quantities</th>
            <th scope="col">Orders Without Sufficient Storage</th>
            <th scope="col">Cancellation Requests</th>
            <th scope="col">Orders in Progress</th>
            <th scope="col">Total ASN Shared</th>
            <th scope="col">ASN with Variance</th>
            <th scope="col">SKUs Damaged During Shipping</th>
            <th scope="col">SKUs Left</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for outbound in outbounds %}
        <tr>
            <td>{{ outbound.id }}</td>
            <td contenteditable="true" onblur="updateOutbound({{ outbound.id }}, 'order_date', this.innerText)">
                {{ outbound.order_date }}
            </td>
            <td contenteditable="true" onblur="updateOutbound({{ outbound.id }}, 'creation_date', this.innerText)">
                {{ outbound.creation_date }}
            </td>
            <td contenteditable="true" onblur="updateOutbound({{ outbound.id }}, 'issue_date', this.innerText)">
                {{ outbound.issue_date }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_order_lines', this.innerText)">
                {{ outbound.number_of_order_lines }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'total_ordered_quantities', this.innerText)">
                {{ outbound.total_ordered_quantities }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'total_shipped_quantities', this.innerText)">
                {{ outbound.total_shipped_quantities }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_ASN_created', this.innerText)">
                {{ outbound.number_of_ASN_created }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_order_reports', this.innerText)">
                {{ outbound.number_of_order_reports }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_orders_without_sufficient_storage', this.innerText)">
                {{ outbound.number_of_orders_without_sufficient_storage }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_cancellation_requests', this.innerText)">
                {{ outbound.number_of_cancellation_requests }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_orders_in_progress', this.innerText)">
                {{ outbound.number_of_orders_in_progress }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'total_dash_of_ASN_shared', this.innerText)">
                {{ outbound.total_dash_of_ASN_shared }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_ASN_that_include_variance', this.innerText)">
                {{ outbound.number_of_ASN_that_include_variance }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_SKUS_damaged_during_shipping', this.innerText)">
                {{ outbound.number_of_SKUS_damaged_during_shipping }}
            </td>
            <td contenteditable="true"
                onblur="updateOutbound({{ outbound.id }}, 'number_of_SKUS_left', this.innerText)">
                {{ outbound.number_of_SKUS_left }}
            </td>
            <td>
                <button type="button" onclick="deleteOutbound({{ outbound.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="returns-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Return Date</th>
            <th scope="col">Number of Returned SKUs</th>
            <th scope="col">Reason for Return</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for return in returns %}
        <tr>
            <td>{{ return.id }}</td>
            <td contenteditable="true" onblur="updateReturn({{ return.id }}, 'date', this.innerText)">
                {{ return.date }}
            </td>
            <td contenteditable="true" onblur="updateReturn({{ return.id }}, 'item_name', this.innerText)">
                {{ return.item_name }}
            </td>
            <td contenteditable="true" onblur="updateReturn({{ return.id }}, 'quantity', this.innerText)">
                {{ return.quantity }}
            </td>
            <td>
                <button type="button" onclick="deleteReturn({{ return.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="expiries-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Number of Expired SKUs</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for expiry in expiries %}
        <tr>
            <td>{{ expiry.id }}</td>
            <td contenteditable="true" onblur="updateExpiry({{ expiry.id }}, 'date', this.innerText)">
                {{ expiry.date }}
            </td>
            <td contenteditable="true" onblur="updateExpiry({{ expiry.id }}, 'item_name', this.innerText)">
                {{ expiry.item_name }}
            </td>
            <td contenteditable="true" onblur="updateExpiry({{ expiry.id }}, 'quantity', this.innerText)">
                {{ expiry.quantity }}
            </td>
            <td>
                <button type="button" onclick="deleteExpiry({{ expiry.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="damages-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Number of Damaged SKUs</th>
            <th scope="col">Reason for Damage</th>
            <th scope="col">Location</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for damage in damages %}
        <tr>
            <td>{{ damage.id }}</td>
            <td contenteditable="true" onblur="updateDamage({{ damage.id }}, 'date', this.innerText)">
                {{ damage.date }}
            </td>
            <td contenteditable="true" onblur="updateDamage({{ damage.id }}, 'item_name', this.innerText)">
                {{ damage.item_name }}
            </td>
            <td contenteditable="true" onblur="updateDamage({{ damage.id }}, 'quantity', this.innerText)">
                {{ damage.quantity }}
            </td>
            <td>
                <button type="button" onclick="deleteDamage({{ damage.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="travel_distances-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Distance</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for travel_distance in travel_distances %}
        <tr>
            <td>{{ travel_distance.id }}</td>
            <td contenteditable="true" onblur="updateTravelDistance({{ travel_distance.id }}, 'date', this.innerText)">
                {{ travel_distance.date }}
            </td>
            <td contenteditable="true"
                onblur="updateTravelDistance({{ travel_distance.id }}, 'item_name', this.innerText)">
                {{ travel_distance.item_name }}
            </td>
            <td contenteditable="true"
                onblur="updateTravelDistance({{ travel_distance.id }}, 'distance', this.innerText)">
                {{ travel_distance.distance }}
            </td>
            <td>
                <button type="button" onclick="deleteTravelDistance({{ travel_distance.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="inventories-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Location</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for inventory in inventories %}
        <tr>
            <td>{{ inventory.id }}</td>
            <td contenteditable="true" onblur="updateInventory({{ inventory.id }}, 'item_name', this.innerText)">
                {{ inventory.item_name }}
            </td>
            <td contenteditable="true" onblur="updateInventory({{ inventory.id }}, 'quantity', this.innerText)">
                {{ inventory.quantity }}
            </td>
            <td contenteditable="true" onblur="updateInventory({{ inventory.id }}, 'location', this.innerText)">
                {{ inventory.location }}
            </td>
            <td>
                <button type="button" onclick="deleteInventory({{ inventory.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="pallet_location_availabilities-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Location</th>
            <th scope="col">Available Slots</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for pallet_location_availability in pallet_location_availabilities %}
        <tr>
            <td>{{ pallet_location_availability.id }}</td>
            <td contenteditable="true"
                onblur="updatePalletLocationAvailability({{ pallet_location_availability.id }}, 'location', this.innerText)">
                {{ pallet_location_availability.location }}
            </td>
            <td contenteditable="true"
                onblur="updatePalletLocationAvailability({{ pallet_location_availability.id }}, 'availability', this.innerText)">
                {{ pallet_location_availability.availability }}
            </td>
            <td>
                <button type="button" onclick="deletePalletLocationAvailability({{ pallet_location_availability.id }})">
                    Delete
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="hses-tab" class="content-tab">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Report Date</th>
            <th scope="col">Incident Type</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for hse in hses %}
        <tr>
            <td>{{ hse.id }}</td>
            <td contenteditable="true" onblur="updateHse({{ hse.id }}, 'description', this.innerText)">
                {{ hse.description }}
            </td>
            <td contenteditable="true" onblur="updateHse({{ hse.id }}, 'status', this.innerText)">{{ hse.status }}</td>
            <td>
                <button type="button" onclick="deleteHse({{ hse.id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

