{% load static %}
{% load sass_tags %}

  <div class="col-lg-12 faq-articles">
    <div class="header-faq">
      <h3 class="mb-0">Latest articles and videos</h3>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="codepen"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600">Article Base Video</h6>
                    <p>The web is a very big place, and if you are the typical internet base user.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="codepen"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600">Knows your sources</h6>
                    <p>A book giving information on many subjects or on many aspects of one subject.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="codepen"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600"> Sources credible/reliable</h6>
                    <p>Simple demos of frequently asked questions about using the information resources </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="file-text"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600"> Validate website</h6>
                    <p> Website is the process of ensuring that the pages on the website conform. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="file-text"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600"> Tailwind Design</h6>
                    <p> Tailwind is so low-level, it never encourages you to design the same site twice.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="file-text"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600">Knows your sources </h6>
                    <p>A book giving information on many subjects or on many aspects of one subject.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="row">
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="youtube"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600"> Sources Demos</h6>
                    <p>Simple demos of frequently asked questions about using the information resources</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="youtube"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600"> Validate Html</h6>
                    <p>Website is the process of ensuring that the pages on the website conform.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex"><i class="m-r-30" data-feather="youtube"></i>
                  <div class="flex-grow-1">
                    <h6 class="f-w-600">Web Design</h6>
                    <p>Web is so high-level, it never encourages you to design the same site twice</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>