{% load static %}
{% load sass_tags %}

<div class="col-xl-4 col-sm-6">
  <div class="card height-equal">
    <div class="card-header pb-0">
      <h4>Unchecked switch</h4>
      <p class="f-m-light mt-1">
         Use the <code>.bg-*</code> class through created default switches. </p>
    </div>
    <div class="card-body common-flex flex-column switch-wrapper">
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-primary"> </span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Primary Switch</label>
      </div>
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-secondary"></span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Secondary Switch</label>
      </div>
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-success"></span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Success Switch</label>
      </div>
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-danger"></span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Danger Switch</label>
      </div>
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-warning"></span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Warning Switch</label>
      </div>
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-info"></span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Info Switch</label>
      </div>
      <div class="d-flex">
        <div class="flex-shrink-0 text-end">
          <label class="switch mb-0">
            <input type="checkbox" checked=""><span class="switch-state bg-dark"></span>
          </label>
        </div>
        <label class="col-form-label m-l-10">Unchecked Dark Switch</label>
      </div>
    </div>
  </div>
</div>