{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}


{% block css %}

{% endblock css %}

{% block content %}

<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        {% include 'forms-table/forms/form-controls/form-validation/components/add_data_form_admin.html' %}
        {% include 'forms-table/forms/form-controls/form-validation/components/add_data_form_customer.html' %}
    </div>
</div>
<!-- Container-fluid Ends-->

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/form-validation-custom.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %}