{% load static %}
{% load sass_tags %}

<div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card">
      <div class="product-box">
        <div class="product-img">
          <div class="ribbon ribbon-bookmark ribbon-vertical-right ribbon-info"><i class="icofont icofont-love"></i></div><img class="img-fluid" src="{% static 'assets/images/ecommerce/13.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter12"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter12" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/13.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Women's Hoodie</h4>
                    <div class="product-price">$50.00
                      <del>$60.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div><a href="/product_page">
            <h4>Women's Hoodie</h4></a>
          <p>Women's Hoodie T-Shirt</p>
          <div class="product-price">$30.00 
            <del>$360.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/14.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter13"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter13" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/14.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Men's T-shirt</h4>
                    <div class="product-price">$60.00
                      <del>$70.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Lorate Solid Men's Fashion Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Denim Shirt.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div><a href="/product_page">
            <h4>Men's T-shirt</h4></a>
          <p>Men's Denim T-shirt</p>
          <div class="product-price">$60.00 
            <del>$70.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card">
      <div class="product-box">
        <div class="product-img">
          <div class="ribbon ribbon-clip ribbon-warning">Hot</div><img class="img-fluid" src="{% static 'assets/images/ecommerce/15.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter14"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter14" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter14" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/15.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman Party Wear</h4>
                    <div class="product-price">$57.00
                      <del>$60.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Stylish Party Wear for women</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h4>Woman Party Wear</h4></a>
          <p>Stylish Party Wear for women</p>
          <div class="product-price">$30.00 
            <del>$350.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/16.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter15"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter15" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter15" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/16.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman T-shirt</h4>
                    <div class="product-price">$26.00
                      <del>$350.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h4>Dream Beauty Fashion</h4></a>
          <p>Tops for Women Stylish</p>
          <div class="product-price">$30.00 
            <del>$360.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Container-fluid Ends-->