{% extends "base.html" %}

{% block content %}
<h1>Approve Users</h1>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Approve</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <button type="submit" name="user_id" value="{{ user.id }}">Approve</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
