{% load static %}
{% load sass_tags %}

<div class="col-xl-6">
    <div class="card height-equal">
      <div class="card-header pb-0">
        <h3>Student validation form</h3>
        <p class="f-m-light mt-1">
            Please make sure fill all the filed before click on next button.</p>
      </div>
      <div class="card-body custom-input">
        <form class="form-wizard" id="regForm" action="#" method="POST">
          <div class="tab">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="name">Name</label>
                <input class="form-control" id="name" type="text" placeholder="Enter your name" required="required">
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="student-email-wizard">Email<span class="txt-danger">*</span></label>
                <input class="form-control" id="student-email-wizard" type="email" required="" placeholder="crocs@gmail.com">
              </div>
              <div class="col-12">
                <label class="col-sm-12 form-label" for="password-wizard">Password<span class="txt-danger">*</span></label>
                <input class="form-control" id="password-wizard" type="password" placeholder="Enter password" required="">
              </div>
              <div class="col-12">
                <label class="col-sm-12 form-label" for="confirmpassowrd">Confirm Password<span class="txt-danger">*</span></label>
                <input class="form-control" id="confirmpassowrd" type="password" placeholder="Enter confirm password" required="">
              </div>
            </div>
          </div>
          <div class="tab">
            <div class="row g-3 avatar-upload">
              <div class="col-12">
                <div>
                  <div class="avatar-edit">
                    <input id="imageUpload" type="file" accept=".png, .jpg, .jpeg">
                    <label for="imageUpload"></label>
                  </div>
                  <div class="avatar-preview">
                    <div id="image"></div>
                  </div>
                </div>
                <h4 class="text-center mt-2">Add Profile</h4>
              </div>
              <div class="col-12">
                <label class="form-label" for="exampleFormControlInput1">Portfolio URL</label>
                <input class="form-control" id="exampleFormControlInput1" type="url" placeholder="https://crocs">
              </div>
              <div class="col-12"> 
                <label class="form-label" for="projectDescription">Project Description</label>
                <textarea class="form-control" id="projectDescription" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="tab">
            <h5 class="mb-2">Social Links </h5>
            <div class="row g-3">
              <div class="col-sm-6">
                <label class="form-label" for="twitterControlInput">Twitter</label>
                <input class="form-control" id="twitterControlInput" type="url" placeholder="https://twitter.com">
              </div>
              <div class="col-sm-6">
                <label class="form-label" for="githubControlInput">Github</label>
                <input class="form-control" id="githubControlInput" type="url" placeholder="https:/github.com">
              </div>
              <div class="col-12"> 
                <div class="input-group">
                  <input class="form-control" id="inputGroupFile04" type="file" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                  <button class="btn btn-outline-secondary" id="inputGroupFileAddon04" type="button">Submit</button>
                </div>
              </div>
              <div class="col-12">
                <select class="form-select" aria-label="Default select example">
                  <option selected="">Positions</option>
                  <option value="1">Web Designer</option>
                  <option value="2">Software Engineer</option>
                  <option value="3">UI/UX Designer </option>
                  <option value="3">Web Developer</option>
                </select>
              </div>
              <div class="col-12"> 
                <label class="form-label" for="quationsTextarea">Why do you want to take this position?</label>
                <textarea class="form-control" id="quationsTextarea" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div>
            <div class="text-end pt-3">
              <button class="btn btn-secondary" id="prevBtn" type="button" onclick="nextPrev(-1)">Previous</button>
              <button class="btn btn-primary" id="nextBtn" type="button" onclick="nextPrev(1)">Next</button>
            </div>
          </div>
          <!-- Circles which indicates the steps of the form:-->
          <div class="text-center"><span class="step"></span><span class="step"></span><span class="step"></span><span class="step"></span></div>
        </form>
      </div>
    </div>
</div>