{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}


{% block css %}

{% endblock css %}

{% block content %}

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    {% include "forms-table/forms/form-widgets/switch/components/custom-switch.html" %}
    {% include "forms-table/forms/form-widgets/switch/components/icons-switch.html" %}
    {% include "forms-table/forms/form-widgets/switch/components/switch-unchecked.html" %}
    {% include "forms-table/forms/form-widgets/switch/components/switch-outline.html" %}
    {% include "forms-table/forms/form-widgets/switch/components/switch-variation.html" %}
    {% include "forms-table/forms/form-widgets/switch/components/switch-sizing.html" %}
    {% include "forms-table/forms/form-widgets/switch/components/switch-with-icon.html" %}
  </div>
</div>
<!-- Container-fluid Ends-->

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/height-equal.js' %}"></script>

{% endblock %}