{% load static %}
{% load sass_tags %}

<div class="col-xl-3 col-lg-4 col-sm-6"> 
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/10.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter9"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter9" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/10.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Men's Black Suit</h4>
                    <div class="product-price">$50.00
                      <del>$55.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Attitude is everything Cotton Men's Black Suit.</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h4>Men's Black Suit</h4></a>
          <p>Men's Full Black Suit</p>
          <div class="product-price">$50.00 
            <del>$55.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/11.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter10"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter10" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/11.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Woman's Dress</h4>
                    <div class="product-price">$60.00
                      <del>$65.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Tops for Stylish Woman's Dress</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><a href="/product_page">
            <h4>Woman's Dress</h4></a>
          <p>Tops for Stylish Woman's Dress</p>
          <div class="product-price">$60.00 
            <del>$65.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <div class="card">
      <div class="product-box">
        <div class="product-img"><img class="img-fluid" src="{% static 'assets/images/ecommerce/12.jpg' %}" alt="">
          <div class="product-hover">
            <ul>
              <li><a href="/cart"><i class="icon-shopping-cart"></i></a></li>
              <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter11"><i class="icon-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter11" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="product-box row">
                  <div class="product-img col-lg-6"><img class="img-fluid" src="{% static 'assets/images/ecommerce/12.jpg' %}" alt=""></div>
                  <div class="product-details col-lg-6 text-start">
                    <h4>Slim Fit Plastic Coat</h4>
                    <div class="product-price">$30.00
                      <del>$35.00    </del>
                    </div>
                    <div class="product-view">
                      <h3>Product Details</h3>
                      <p class="mb-0">Premier Cropped Skinny Jean</p>
                    </div>
                    <div class="product-size">
                      <ul>
                        <li> 
                          <button class="btn btn-light" type="button">M</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">L</button>
                        </li>
                        <li> 
                          <button class="btn btn-light" type="button">Xl</button>
                        </li>
                      </ul>
                    </div>
                    <div class="product-qnty">
                      <h3>Quantity</h3>
                      <fieldset>
                        <div class="input-group">
                          <input class="touchspin text-center" type="text" value="5">
                        </div>
                      </fieldset>
                      <div class="addcart-btn"><a class="btn btn-primary" href="/cart">Add to Cart</a><a class="btn btn-primary ms-2" href="/product_page">View Details</a></div>
                    </div>
                  </div>
                </div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-details">
          <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i></div><a href="/product_page">
            <h4>Slim Fit Plastic Coat</h4></a>
          <p>Slim Fit Plastic Thunder Coat</p>
          <div class="product-price">$30.00 
            <del>$35.00    </del>
          </div>
        </div>
      </div>
    </div>
  </div>