{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/owlcarousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/rating.css' %}">
{% endblock css %}

{% block content %}

<!-- Container-fluid starts-->
<div class="container-fluid">
  {% include 'applications/ecommerce/product-page/components/product-page-1.html' %}
  {% include 'applications/ecommerce/product-page/components/product-page-2.html' %}
</div>
<!-- Container-fluid Ends-->

{% endblock %}

{% block scriptcontent %}

<script src="{% static 'assets/js/rating/jquery.barrating.js' %}"></script>
<script src="{% static 'assets/js/rating/rating-script.js' %}"></script>
<script src="{% static 'assets/js/owlcarousel/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/ecommerce.js' %}"></script>

{% endblock %}  