{% load static %}
{% load sass_tags %}

<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0 card-no-border">
      <h4 class="mb-3">Multi-Level Collections</h4><span>
        Keyboard navigation is essential for fast navigation of a table operations and also for good accessibility. Buttons provides the ability to give each button a key binding - i.e. a key combination that when pressed will activate the button's action.
        The key binding can be given as a single character if you wish to listen for an unmodified key press, or as an object if you wish it to only be activated when a modifier key such as shift, alt, etc, is pressed.</span>
    </div>
    <div class="card-body">
      <div class="dt-ext table-responsive custom-scrollbar">
        <table class="display border" id="multilevel-btn">
          <thead>
            <tr>
              <th>Id</th>
              <th>Theme Name</th>
              <th>Task List</th>
              <th>Status</th>
              <th>Due date</th>
              <th>Review</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#1000</td>
              <td>Rica-Ecommerce Template</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/04/25</td>
              <td>$320,800</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1001</td>
              <td>Viho-React</td>
              <td>Report</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/07/25</td>
              <td>$170,750</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1002</td>
              <td>Tivo-admin</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/01/12</td>
              <td>$86,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1003</td>
              <td>Koho-Laravel</td>
              <td>Changes</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/03/29</td>
              <td>$433,060</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1004</td>
              <td>Wingo-React Js</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/11/28</td>
              <td>$162,700</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1005</td>
              <td>Crocs-Angular</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/12/02</td>
              <td>$372,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1006</td>
              <td>Zeta Template</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/08/06</td>
              <td>$137,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1007</td>
              <td>Xolo-admin Html</td>
              <td>Testing</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/10/14</td>
              <td>$327,900</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1015</td>
              <td>Unice</td>
              <td>Testing</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/09/15</td>
              <td>$205,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1020</td>
              <td>Rica-Ecommerce Template</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/12/13</td>
              <td>$103,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1030</td>
              <td>Multikart</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/12/19</td>
              <td>$90,560</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1040</td>
              <td>Voxo</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/03/03</td>
              <td>$342,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1050</td>
              <td>Bigdeal</td>
              <td>Changes</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/10/16</td>
              <td>$470,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1060</td>
              <td>Sheltos</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/12/18</td>
              <td>$313,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1070</td>
              <td>Oslo</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/03/17</td>
              <td>$385,750</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1080</td>
              <td>Poco-React</td>
              <td>Report</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/11/27</td>
              <td>$198,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1090</td>
              <td>Tovo-Wordpress</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/06/09</td>
              <td>$725,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1100</td>
              <td>Unice</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/04/10</td>
              <td>$237,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1012</td>
              <td>Tivo-admin</td>
              <td>Report</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/10/13</td>
              <td>$132,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1013</td>
              <td>Viho-React</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/09/26</td>
              <td>$217,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1022</td>
              <td>Amazon</td>
              <td>Changes</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/09/03</td>
              <td>$345,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1033</td>
              <td>Flipkart</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/06/25</td>
              <td>$675,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1044</td>
              <td>Nyka</td>
              <td>Changes</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/12/12</td>
              <td>$106,450</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1055</td>
              <td>Sugar</td>
              <td>Testing</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/09/20</td>
              <td>$85,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1066</td>
              <td>Multikart</td>
              <td>Update</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/10/09</td>
              <td>$1,200,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1077</td>
              <td>Rica-Ecommerce Template</td>
              <td>Testing</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/12/22</td>
              <td>$92,575</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1088</td>
              <td>Tivo-admin</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/11/14</td>
              <td>$357,650</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1099</td>
              <td>Unice</td>
              <td>Update</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/06/07</td>
              <td>$206,850</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1087</td>
              <td>Zeta Template</td>
              <td>Changes</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/03/11</td>
              <td>$850,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1014</td>
              <td>Voxo</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/08/14</td>
              <td>$163,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1025</td>
              <td>Tovo-Wordpress</td>
              <td>Testing</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/06/02</td>
              <td>$95,400</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1035</td>
              <td>Crocs-Angular</td>
              <td>Testing</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/10/22</td>
              <td>$114,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1040</td>
              <td>Viho-React</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/05/07</td>
              <td>$145,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1045</td>
              <td>Xolo-admin Html</td>
              <td>Changes</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/10/26</td>
              <td>$235,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1055</td>
              <td>Admiro</td>
              <td>Testing</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/03/09</td>
              <td>$324,050</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1056</td>
              <td>Endless</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/12/09</td>
              <td>$85,675</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1085</td>
              <td>Vito</td>
              <td>Testing</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/12/16</td>
              <td>$164,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1095</td>
              <td>Backy</td>
              <td>Changes</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/02/12</td>
              <td>$109,850</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1015</td>
              <td>Xolo-admin Html</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/02/14</td>
              <td>$452,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1025</td>
              <td>Tivo-admin</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/12/11</td>
              <td>$136,200</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1035</td>
              <td>Koho-Laravel</td>
              <td>Testing</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/09/26</td>
              <td>$645,750</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1045</td>
              <td>Crocs-Angular</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/02/03</td>
              <td>$234,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1032</td>
              <td>Voxo</td>
              <td>Testing</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/05/03</td>
              <td>$163,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1042</td>
              <td>Fastkart</td>
              <td>Update</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/08/19</td>
              <td>$139,575</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1052</td>
              <td>Doxo</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/08/11</td>
              <td>$98,540</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1062</td>
              <td>Backy</td>
              <td>Changes</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/07/07</td>
              <td>$87,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1072</td>
              <td>Boxo</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/04/09</td>
              <td>$138,575</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1082</td>
              <td>Sheltos</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/01/04</td>
              <td>$125,250</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1092</td>
              <td>Grocerry</td>
              <td>Testing</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/06/01</td>
              <td>$115,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1087</td>
              <td>Voxo</td>
              <td>Update</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/02/01</td>
              <td>$75,650</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1078</td>
              <td>Crocs-Angular</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/12/06</td>
              <td>$145,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1024</td>
              <td>Xolo-admin Htmlr</td>
              <td>Update</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/03/21</td>
              <td>$356,250</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1075</td>
              <td>Backy</td>
              <td>Changes</td>
              <td> <span class="badge badge-danger">Pending</span></td>
              <td>2024/02/27</td>
              <td>$103,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1078</td>
              <td>Admiro</td>
              <td>Changes</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/07/14</td>
              <td>$86,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1087</td>
              <td>Noxel</td>
              <td>Report</td>
              <td> <span class="badge badge-success">Resolved</span></td>
              <td>2024/11/13</td>
              <td>$183,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1098</td>
              <td>Jio</td>
              <td>Changes</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/06/27</td>
              <td>$183,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#1048</td>
              <td>Fastkart</td>
              <td>Update</td>
              <td> <span class="badge badge-primary">Open</span></td>
              <td>2024/01/25</td>
              <td>$112,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Theme Name</th>
              <th>Task List</th>
              <th>Status</th>
              <th>Due date</th>
              <th>Review</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>