{% load static %}
{% load sass_tags %}


<div class="col-sm-12">
  <div class="card">
    <div class="card-header pb-0 card-no-border">
      <h4 class="mb-3">Full row selection</h4><span>The rowReorder.selector option provides the ability to define which element in a table row will provide the row reordering handle to the end user. By default only the first cell in the row will trigger the reordering action. This example shows the entire row being able to start the reorder. Simply click and drag anywhere on the row. Additionally, the column that defines the row order is hidden by default, making the table a simple orderable list.</span>
    </div>
    <div class="card-body">
      <div class="dt-ext table-responsive custom-scrollbar">
        <table class="display border" id="full-row">
          <thead>
            <tr>
              <th>Person</th>
              <th>Position</th>
              <th>Email</th>
              <th>Office</th>
              <th>Age</th>
              <th>Progress</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tiger Nixon</td>
              <td>Accountant</td>
              <td>phizntrg@gmail.com</td>
              <td>Edinburgh</td>
              <td>61</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/04/25</td>
              <td>$320,800</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Garrett Winters</td>
              <td>Accountant</td>
              <td>bahwi@att.net</td>
              <td>Tokyo</td>
              <td>63</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/07/25</td>
              <td>$170,750</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Ashton Cox</td>
              <td>Junior Technical Author</td>
              <td>tubesteak@mac.com</td>
              <td>San Francisco</td>
              <td>66</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/01/12</td>
              <td>$86,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Cedric Kelly</td>
              <td>Senior Javascript Developer</td>
              <td>kostas@yahoo.ca</td>
              <td>Edinburgh</td>
              <td>22</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/03/29</td>
              <td>$433,060</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Airi Satou</td>
              <td>Accountant</td>
              <td>bdthomas@optonline.net</td>
              <td>Tokyo</td>
              <td>33</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/11/28</td>
              <td>$162,700</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Brielle Williamson</td>
              <td>Integration Specialist</td>
              <td>mccurley@aol.com</td>
              <td>New York</td>
              <td>61</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/12/02</td>
              <td>$372,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Herrod Chandler</td>
              <td>Sales Assistant</td>
              <td>pajas@icloud.com</td>
              <td>San Francisco</td>
              <td>59</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/08/06</td>
              <td>$137,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Rhona Davidson</td>
              <td>Integration Specialist</td>
              <td>payned@yahoo.com</td>
              <td>Tokyo</td>
              <td>55</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/10/14</td>
              <td>$327,900</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Colleen Hurst</td>
              <td>Javascript Developer</td>
              <td>heine@mac.com</td>
              <td>San Francisco</td>
              <td>39</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/09/15</td>
              <td>$205,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Sonya Frost</td>
              <td>Software Engineer</td>
              <td>cmdrgravy@msn.com</td>
              <td>Edinburgh</td>
              <td>23</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/12/13</td>
              <td>$103,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Jena Gaines</td>
              <td>Office Manager</td>
              <td>portele@outlook.com</td>
              <td>London</td>
              <td>30</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/12/19</td>
              <td>$90,560</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Quinn Flynn</td>
              <td>Support Lead</td>
              <td>jimxugle@comcast.net</td>
              <td>Edinburgh</td>
              <td>22</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2013/03/03</td>
              <td>$342,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Charde Marshall</td>
              <td>Regional Director</td>
              <td>adityabose7@gmail.com</td>
              <td>San Francisco</td>
              <td>36</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/10/16</td>
              <td>$470,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Haley Kennedy</td>
              <td>Senior Marketing Designer</td>
              <td>am27491@gmail.com</td>
              <td>London</td>
              <td>43</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/12/18</td>
              <td>$313,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Tatyana Fitzpatrick</td>
              <td>Regional Director</td>
              <td>amarjun7@gmail.com</td>
              <td>London</td>
              <td>19</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/03/17</td>
              <td>$385,750</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Michael Silva</td>
              <td>Marketing Designer</td>
              <td>anuj8315@gmail.com</td>
              <td>London</td>
              <td>66</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/11/27</td>
              <td>$198,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Paul Byrd</td>
              <td>Chief Financial Officer (CFO)</td>
              <td>arkindia4@gmail.com</td>
              <td>New York</td>
              <td>64</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/06/09</td>
              <td>$725,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Gloria Little</td>
              <td>Systems Administrator</td>
              <td>eric.ogren@gmail.com</td>
              <td>New York</td>
              <td>59</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/04/10</td>
              <td>$237,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Bradley Greer</td>
              <td>Software Engineer</td>
              <td>eric.olsen@gmail.com</td>
              <td>London</td>
              <td>41</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/10/13</td>
              <td>$132,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Dai Rios</td>
              <td>Personnel Lead</td>
              <td>ersely@gmail.com</td>
              <td>Edinburgh</td>
              <td>35</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/09/26</td>
              <td>$217,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Jenette Caldwell</td>
              <td>Development Lead</td>
              <td>festim.b@gmail.com</td>
              <td>New York</td>
              <td>30</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/09/03</td>
              <td>$345,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Yuri Berry</td>
              <td>Chief Marketing Officer (CMO)</td>
              <td>eric.nelson@gmail.com</td>
              <td>New York</td>
              <td>40</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/06/25</td>
              <td>$675,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Caesar Vance</td>
              <td>Pre-Sales Support</td>
              <td>luciferashish@gmail.com</td>
              <td>New York</td>
              <td>21</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/12/12</td>
              <td>$106,450</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Doris Wilder</td>
              <td>Sales Assistant</td>
              <td>mysteriousWayne@t-online.de</td>
              <td>Sidney</td>
              <td>23</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/09/20</td>
              <td>$85,600</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Angelica Ramos</td>
              <td>Chief Executive Officer (CEO)</td>
              <td>terribleBrent88@zonnet.nl</td>
              <td>London</td>
              <td>47</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/10/09</td>
              <td>$1,200,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Gavin Joyce</td>
              <td>Developer</td>
              <td>Samuelmagnificent@gmx.de</td>
              <td>Edinburgh</td>
              <td>42</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/12/22</td>
              <td>$92,575</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Jennifer Chang</td>
              <td>Regional Director</td>
              <td>fancyErik9@rambler.ru</td>
              <td>Singapore</td>
              <td>28</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/11/14</td>
              <td>$357,650</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Brenden Wagner</td>
              <td>Software Engineer</td>
              <td>ashamedDanny@att.net</td>
              <td>San Francisco</td>
              <td>28</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/06/07</td>
              <td>$206,850</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Fiona Green</td>
              <td>Chief Operating Officer (COO)</td>
              <td>filthySummer12@hotmail.co.uk</td>
              <td>San Francisco</td>
              <td>48</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/03/11</td>
              <td>$850,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Shou Itou</td>
              <td>Regional Marketing</td>
              <td>mail2svenkatesh@gmail.com</td>
              <td>Tokyo</td>
              <td>20</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/08/14</td>
              <td>$163,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Michelle House</td>
              <td>Integration Specialist</td>
              <td>lkfcmk@gmail.com</td>
              <td>Sidney</td>
              <td>37</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/06/02</td>
              <td>$95,400</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Suki Burks</td>
              <td>Developer</td>
              <td>nk.nikhil42@gmail.com</td>
              <td>London</td>
              <td>53</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/10/22</td>
              <td>$114,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Prescott Bartlett</td>
              <td>Technical Author</td>
              <td>s.randhir22@gmail.com</td>
              <td>London</td>
              <td>27</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/05/07</td>
              <td>$145,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Gavin Cortez</td>
              <td>Team Leader</td>
              <td>ycprasanth@gmail.com</td>
              <td>San Francisco</td>
              <td>22</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/10/26</td>
              <td>$235,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Martena Mccray</td>
              <td>Post-Sales support</td>
              <td>happyMandy92@shaw.ca</td>
              <td>Edinburgh</td>
              <td>46</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/03/09</td>
              <td>$324,050</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Unity Butler</td>
              <td>Marketing Designer</td>
              <td>richDaniel@ymail.com</td>
              <td>San Francisco</td>
              <td>47</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/12/09</td>
              <td>$85,675</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Howard Hatfield</td>
              <td>Office Manager</td>
              <td>Robertkind@alice.it</td>
              <td>San Francisco</td>
              <td>51</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/12/16</td>
              <td>$164,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Hope Fuentes</td>
              <td>Secretary</td>
              <td>Robertalert@laposte.net</td>
              <td>San Francisco</td>
              <td>41</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/02/12</td>
              <td>$109,850</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Vivian Harrell</td>
              <td>Financial Controller</td>
              <td>handsomeRoy@hotmail.it</td>
              <td>San Francisco</td>
              <td>62</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2009/02/14</td>
              <td>$452,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Timothy Mooney</td>
              <td>Office Manager</td>
              <td>Mathewlively@wanadoo.fr</td>
              <td>London</td>
              <td>37</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/12/11</td>
              <td>$136,200</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Jackson Bradshaw</td>
              <td>Director</td>
              <td>glamorousPhillip89@sfr.fr</td>
              <td>New York</td>
              <td>65</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/09/26</td>
              <td>$645,750</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Olivia Liang</td>
              <td>Support Engineer</td>
              <td>upsetAnthony@msn.com</td>
              <td>Singapore</td>
              <td>64</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/02/03</td>
              <td>$234,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Bruno Nash</td>
              <td>Software Engineer</td>
              <td>shinySergio@tin.it</td>
              <td>London</td>
              <td>38</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/05/03</td>
              <td>$163,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Zorita Serrano</td>
              <td>Software Engineer</td>
              <td>wrongSusan@terra.com.br</td>
              <td>San Francisco</td>
              <td>56</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2012/06/01</td>
              <td>$115,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Jonas Alexander</td>
              <td>Developer</td>
              <td>Jennanutty@web.de</td>
              <td>San Francisco</td>
              <td>30</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2010/07/14</td>
              <td>$86,500</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Shad Decker</td>
              <td>Regional Director</td>
              <td>Marcmuddy@gmx.de</td>
              <td>Edinburgh</td>
              <td>51</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2008/11/13</td>
              <td>$183,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Michael Bruce</td>
              <td>Javascript Developer</td>
              <td>poorBrittany@yahoo.com</td>
              <td>Singapore</td>
              <td>29</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/06/27</td>
              <td>$183,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Donna Snider</td>
              <td>Customer Support</td>
              <td>lovelyEdwin77@facebook.com</td>
              <td>New York</td>
              <td>27</td>
              <td>
                <div class="progress-showcase">
                  <div class="progress sm-progress-bar">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </td>
              <td>2011/01/25</td>
              <td>$112,000</td>
              <td> 
                <ul class="action"> 
                  <li class="edit"> <a href="#"><i class="icon-pencil-alt"></i></a></li>
                  <li class="delete"><a href="#"><i class="icon-trash"></i></a></li>
                </ul>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Name</th>
              <th>Position</th>
              <th>Email</th>
              <th>Office</th>
              <th>Age</th>
              <th>Progress</th>
              <th>Start date</th>
              <th>Salary</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>