{% load static %}
{% load sass_tags %}

<div class="col-xl-3 xl-30 box-col-30">
  <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc1">
    <div class="row">
      <div class="col-xl-12 xl-100 col-sm-6">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon2" aria-expanded="true" aria-controls="collapseicon2">Profile Intro</button>
            </h5>
          </div>
          <div class="collapse show" id="collapseicon2" aria-labelledby="collapseicon2" data-bs-parent="#accordion">
            <div class="card-body filter-cards-view"><span class="mb-2 d-block">About Me :</span>
              <p>
                 Hi, I’m elana, I’m 30 and I work as a 
                web Designer for the “Daydreams” 
                Agency in Pier 56.
              </p><span class="mb-2 d-block">Favourite TV shows :</span>
              <p>
                 Breaking Good, RedDevil, People of
                Interest, The Running Dead, 
                Found, American Guy.
              </p><span class="mb-2 d-block">Favourite Music Bands :</span>
              <p>
                 Breaking Good, RedDevil, People of
                Interest, The Running Dead, 
                Found, American Guy.
              </p>
              <div class="social-network theme-form"><span>Social Networks</span>
                <button class="btn social-btn btn-fb mb-2 text-center"><i class="fa fa-facebook m-r-5"></i>Facebook</button>
                <button class="btn social-btn btn-twitter mb-2 text-center"><i class="fa fa-twitter m-r-5"></i>Twitter</button>
                <button class="btn social-btn btn-google text-center"><i class="fa fa-dribbble m-r-5"></i>Dribbble</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-sm-6">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon3" aria-expanded="true" aria-controls="collapseicon3">Followers</button>
            </h5>
          </div>
          <div class="collapse show" id="collapseicon3" aria-labelledby="collapseicon3" data-bs-parent="#accordion">
            <div class="card-body social-list filter-cards-view">
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/2.png' %}">
                <div class="flex-grow-1"><span class="d-block">Bucky Barnes</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/3.png' %}">
                <div class="flex-grow-1"><span class="d-block">Sarah Loren</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/3.jpg' %}">
                <div class="flex-grow-1"><span class="d-block">Jason Borne</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/10.jpg' %}">
                <div class="flex-grow-1"><span class="d-block">Comeren Diaz</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/11.png' %}">
                <div class="flex-grow-1"><span class="d-block">Andew Jon</span><a href="#">Add Friend</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-sm-6">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon10" aria-expanded="true" aria-controls="collapseicon10">Followings</button>
            </h5>
          </div>
          <div class="collapse show" id="collapseicon10" aria-labelledby="collapseicon10" data-bs-parent="#accordion">
            <div class="card-body social-list filter-cards-view">
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/3.png' %}">
                <div class="flex-grow-1"><span class="d-block">Sarah Loren</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/2.png' %}">
                <div class="flex-grow-1"><span class="d-block">Bucky Barnes</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/10.jpg' %}">
                <div class="flex-grow-1"><span class="d-block">Comeren Diaz</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/3.jpg' %}">
                <div class="flex-grow-1"><span class="d-block">Jason Borne</span><a href="#">Add Friend</a></div>
              </div>
              <div class="d-flex"><img class="img-50 img-fluid m-r-20 rounded-circle" alt="" src="{% static 'assets/images/user/11.png' %}">
                <div class="flex-grow-1"><span class="d-block">Andew Jon</span><a href="#">Add Friend</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>