<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Owners Data</h1>
<table>
    <thead>
    <tr>
        <th>Owner</th>
        <th>Can View All Companies</th>
        <th>Total Quantities</th>
        <th>Total Number of Employees</th>
    </tr>
    </thead>
    <tbody>
    {% for owner in owners %}
    <tr>
        <td>{{ owner.owner.username }}</td>
        <td>{{ owner.can_view_all_companies }}</td>
        <td>{{ owner.total_quantities }}</td>
        <td>{{ owner.Total_No_of_Employees }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h1>Companies Data</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    {% for company in companies %}
    <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.user.username }}</td>
    </tr>
    {% endfor %}
    </tbody>
   
</table>