{% load static %}
{% load sass_tags %}

<div class="col-xl-4 box-col-4">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h3>Articles</h3>
            <p>How little experience or technical knowledge you currently have. The web is a very big place, and if you are the typical internet user, you probably visit several websites every day.</p>
          </div><i data-feather="file-text"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 box-col-4">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h3>Knowledgebase</h3>
            <p>A Website Designing course enables learners to use essential designing and programming tools required to do the job. The curriculum is a blend of various themes.</p>
          </div><i data-feather="book-open"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-md-6 box-col-4">
    <div class="card bg-primary">
      <div class="card-body">
        <div class="d-flex faq-widgets">
          <div class="flex-grow-1">
            <h3>Support</h3>
            <p>The customer support industry is renaissance. Customer support as a specialty is coming into its own, offering companies a competitive advantage that’s difficult to copy.</p>
          </div><i data-feather="aperture"></i>
        </div>
      </div>
    </div>
  </div>